.board {
  display: grid;
  grid-template-columns: repeat(8, min(9vh, 12.5vw));
  grid-template-rows: repeat(8, min(9vh, 12.5vw));
  border: 1px solid #769656;
}

.cell {
  width: min(9vh, 12.5vw);
  height: min(9vh, 12.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}

img {
  width: min(8vh, 10.5vw);
  height: min(8vh, 10.5vw);
}

.selected {
  background-color: rgba(215, 0, 11, 0.7) !important;
}

.selectedShopPiece {
  background-color: rgb(82, 195, 233) !important;
  border-radius: 8px;
}
