.board {
  display: grid;
  grid-template-columns: repeat(8, min(80px, 12.5vw));
  grid-template-rows: repeat(8, min(80px, 12.5vw));
  border: 1px solid #769656;
}

.cell {
  width: min(80px, 12.5vw);
  height: min(80px, 12.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}
