* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  min-width: 100vw !important;
  min-height: 100vh !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #5e2c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  margin: 4px;
}

button:hover {
  background-color: #703600;
}

.buttons {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

p {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  white-space: normal !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h2 {
  max-width: 400px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: -4px;
  padding: 0px 20px;
  font-size: 14px;
  color: #e4e4e4;
  background-color: #5e2c00;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
